/* Animations */
@keyframes open-menu {
    from {transform: translateX(100%);;}
    to {transform: translateX(0%);}
  }
/* Header */



.header {
    width: 100%;
    height: auto;
    margin-bottom: 60px;
    padding-top: 20px;
}

.header-wrapper {
    width: 100%;
    height: 100%;
    display: flex;

}

.header-brand {
    display: flex;
    flex: 1;
    height: 100%;
    align-items: center;
}

.header-menu {
    display: flex;
    align-items: center;
}

.header-menu ul li {
    list-style: none;
    display: inline;
    cursor: pointer;
    transition: 0.2s all;
}

.header-menu ul li {
    margin-right: 60px;
}

.header-menu ul li:last-child {
    margin: 0px;
}

.header-menu ul li:hover {
    color: #36af9b;

}

.header-mobile-menu {
    display: none;
}

@media only screen and (max-width: 900px) {
    .header-menu {
        display: none;
    }

    
    .header-brand {
        justify-content: start;
    }

    .header-mobile-menu {
        display: flex;
        align-items: center;
    }

    .header-mobile-menu i {
        color: #36af9b;
        font-size: 20px;
        margin-bottom: 8px;
    }
    
    .mobile-menu {
        position: absolute;
        z-index: 10;
        height: 100vh;
        width: 100%;
        top: 82px;
        transform: translateX(100%);
        display: none;
        background: rgb(238, 238, 238);
    }

    .activated-menu {
        display: block;
        transform: translateX(0%);
        animation: open-menu;
        animation-duration: 1s;
    }

    .mobile-menu-wrapper {

    }
}  
  