/* Footer */


.footer {
    width: 100%;
    height: 30vh;
    background: rgb(245, 245, 245);
    margin-top: 60px;
}   

.footer-wrapper {
    width: 100%;
    height: 100%;
    padding-top: 30px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-bottom {
    width: 100%;
    height: 30px;
    background: rgb(231, 231, 231);
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-bottom p {
    color:rgb(99, 99, 99);
    text-align: center;
    font-size: 14px;
}

.footer-brand {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: auto;
}

.footer-brand h1 {
    display: flex;
}

.footer-socials {
    display: flex;
    width: auto;
    height: 100%;
    flex-direction: column;
    justify-content: end;
}

.footer-socials p {
    margin-bottom: 10px;
    display: flex;
}

.social-media {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background: rgb(224, 224, 224);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(131, 131, 131);
    transition: 0.2s all;
}

.social-media:hover {
    color: white;
}

#instagram:hover {
    background: #E1306C;
}

/* Footer Menu */
.footer-menu ul p {
    font-weight: bold;
    margin-bottom: 10px;
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-color: #36af9b;
}

.footer-menu ul li {
    list-style: none;
    margin-bottom: 7px;
    cursor: pointer;
    transition: 0.1s all;
}

.footer-menu ul li:hover {
    color: #36af9b;
}
