/* Footer */


.footer {
    width: 100%;
    height: auto;
    background: rgb(245, 245, 245);
    margin-top: 60px;
}

.footer-mobile-width {
    display: none;
}

.footer-wrapper {
    width: 100%;
    height: 100%;
    padding-top: 30px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-bottom {
    width: 100%;
    height: 30px;
    background: rgb(231, 231, 231);
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-bottom p {
    color:rgb(99, 99, 99);
    text-align: center;
    font-size: 14px;
}

.footer-brand {
    display: flex;
    flex-direction: column;
    width: auto;
}

.footer-brand h1 {
    display: flex;
}

.footer-socials {
    display: flex;
    width: auto;
    height: 100%;
    flex-direction: column;
    justify-content: end;
}

.footer-socials p {
    margin-bottom: 10px;
    display: flex;
}

.social-media {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background: rgb(224, 224, 224);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(131, 131, 131);
    transition: 0.2s all;
}

.social-media:hover {
    color: white;
}

#instagram:hover {
    background: #E1306C;
}

/* Footer Menu */
.footer-menu ul p {
    font-weight: bold;
    margin-bottom: 10px;
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-color: #36af9b;
}

.footer-menu ul li {
    list-style: none;
    margin-bottom: 7px;
    cursor: pointer;
    transition: 0.1s all;
}

.footer-menu ul li:hover {
    color: #36af9b;
}

@media only screen and (max-width: 900px) {
    .footer-desktop-width {
        display: none;
    }

    .footer-mobile-width {
        display: block;
    }

    .footer-accordion {
        width: 100%;
    }

    .footer-wrapper {
        flex-direction: column;
    }

    .footer-brand {
        display: flex;
        align-items: center;
    }

    .footer-brand img {
        margin-bottom: 20px;
    }

    /* Accordion */
    .accordion {
        margin-bottom: 30px;
    }

    .accordion-title {
        width: 100%;
        background-color: rgb(245, 245, 245);
        color: #444;
        cursor: pointer;
        padding: 0px 18px 10px 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .accordion-title::before {
        content: '+';
        color: #36af9b;
        position: absolute;
        right: 40px;
        font-size: 30px;
    }

    .accordion-title.active::before {
        content: '-';
        font-size: 30px;
    }   
    
    .accordion-content {
        transition: 0.5s;
        display: none;
        padding: 0px 18px 30px 18px;
    }

    .accordion-title.active + .accordion-content {
        display: block;
    }

    .accordion-content ul li {
        list-style: none;
        margin-bottom: 17px;
    }
    
    .accordion-content ul li:last-child {
        margin-bottom: 0px;
    }
}